.descriptionPara {
  text-align: center;
  padding-top: 3rem;
  font-size: 1rem;
}

.descriptionHThree {
  text-align: center;
  font-size: 1.5rem;
}

.descriptionHFive {
  text-align: center;
}

.descriptionHTwo {
  text-align: center;
}

.buttons {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 1rem;
}

.griddButton {
  color: gray !important;
  border: 1px solid gray !important;
  background-color: white !important;
}
