.descriptionPara {
  text-align: center;
  padding-top: 3rem;
  font-size: 1rem;
}

.descriptionHThree {
  text-align: center;
  font-size: 1.5rem;
}

.descriptionHFive {
  text-align: center;
}

.descriptionHTwo {
  text-align: center;
}
